/* Override Defaults */

html,
body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a::visited {
    text-decoration: none;
    color: white;
}


/* ======================================================== */


/* Main Styles */


/* ======================================================== */

.site-wrapper {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.siteHeader {
    width: 100%;
    height: 100px;
    background: rgb(23%, 33.5%, 23%);
    margin-top: -20px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.mainContent {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.siteFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(23%, 33.5%, 23%);
    text-align: center;
}


/* ======================================================== */


/* Game */


/* ======================================================== */

.gameBox {
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    background: rgba(71, 92, 99, 1.0);

    overflow: hidden;
}


/* Welcome Message */
#welcomeMessageContainer {
    display: block;
    opacity: 1.0;
    filter: alpha(opacity=1);
}

#welcomeMessage-1 {
    padding-top: 200px;
}

#welcomeMessage-2 {
    display: none;
    opacity: 0.0;
    filter: alpha(opacity=0);

    padding-top: 60px;
    text-align: center;    
}

#welcomeMessage-2 #userEntryForm {
    background: darkslategrey;
    padding: 20px;
 }

.userEntryForm-InputGroup {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
label { 
    margin: 0 8px;
}
input {
    margin-left: -5px;
}

#welcomeMessage-2 button {
    display: block;
    margin: 0 auto;
}

/* Game Board */
#gameBoardContainer {
    display: none;
}

#gameBoard-table {
    /*width: 100%;
    height: 100%;*/
}

#gameBoard-table tr {
    clear: both;
}

#gameBoard-table tr td {
    height: 100px;
    width: calc(500px/3);
}

#gameBoard-table tr td a {
    display: block;
    width: 100%;
    height: 100%;
    background: darkslateblue;

    text-align: center;
    margin: 2px;
    padding-top: 10px;
    font-size: 4em;
}

#gameBoard-table tr td a:hover {
    background: darkred;
}

#gameBoard-resultsContainer {
    display: none;
    text-align: center;
}
#gameBoard-results-1 {
    text-align: center;
    margin: 0 auto;
}
#gameBoard-results-1-table {
    text-align: center;
    margin: 0 auto;    
}
#gameBoard-results-2 {
    margin-top: 5px;
    text-align: center;
}

/* ======================================================== */


/* Music Controls */


/* ======================================================== */

.musicControls {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.musicPlayer {
    text-align: center;
    width: 500px;
    padding: 0;
}

.musicPlaylist {
    width: 500px;
    margin: 0 auto;
    margin-top:-3px;
    padding: 0;

    text-align: center;
    list-style: none;
}

.musicPlaylist li {
    background: rgba(71, 92, 99, 1.0);
    padding: 5px;
}

.musicPlaylist li.active {
    background: rgba(71, 92, 99, 0.6)
}